BINANCE_API_KEY=
BINANCE_API_SECRET=

ENABLE_TELEGRAM=0
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

EXECUTION_MODE=paper
DASHBOARD_PORT=3002

TF=5m
HTF_TF=1d

FUTURES_DEFAULT_LEVERAGE=3
FUTURES_RISK_PER_TRADE=0.005
FUTURES_MAX_POSITION_USDT=60

TWELVE_DATA_API_KEY=
EODHD_API_TOKEN=
